# Flutter/Dart 관련
/flutter


# IDE 관련
.idea/
.vscode/
*.iml

# OS/기타
.DS_Store
*.apk
*.ipa

# 환경 변수
.env
.env.local
.env.development.local
.env.test.local

# Python/기타
__pycache__/
computer-vision/
*.pt
*.pt.gz
